
        /* Estilos básicos */
        body, h1, h3, p {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        body {
            background-color: #f0f8f5;
            color: #333;
            background-image: url(mato.jpeg);
            background-repeat: no-repeat;
            background-size: 100%;

        }
        
        /* Navbar */
        .navbar {
            display: flex;
            justify-content: center;
            background-color: #2d6a4f;
            padding: 15px 0;
            position: sticky;
            top: 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .navbar a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding: 10px 20px;
            transition: color 0.3s;
        }
        .navbar a:hover {
            color: #a8dadc;
        }

        /* Header */
        .header {
            /* background: linear-gradient(rgba(34, 87, 122, 0.5), rgba(34, 87, 122, 0.5)), url('background.jpg') no-repeat center center; */
            background-size: cover;
            text-align: center;
            padding: 120px 20px;
            color: white;
        }
        .header h1 {
            font-size: 3em;
            margin-bottom: 10px;
            font-weight: bold;
            color: #065e61;
        }
        .header h3 {
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom: 20px;
            color: #065e61;
        }

        /* Abas */
        .tab-container {
            display: flex;
            justify-content: center;
            
            padding: 20px 0;
        }
        .tab {
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
            font-weight: bold;
            color: #2d6a4f;
            border: 2px solid transparent;
            transition: background-color 0.3s, color 0.3s;
        }
        .tab:hover, .tab.active {
            background-color: #2d6a4f;
            color: white;
            border-radius: 5px;
        }

        /* Conteúdo das abas */
        .tab-content {
            display: none;
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .tab-content.active {
            display: block;
        }

        /* Footer */
        .footer {
            background-color: #2d6a4f;
            color: white;
            text-align: center;
            padding: 15px;
            font-size: 0.9em;
            margin-top: 262px;
        }
    